body
  background: lightgray

.user-wrapper
  border: 1px solid #dddddd
  overflow-y: auto
  height: 850px
  background: white
  //margin-left: 0
  ul
    margin: 0
    padding: 0
@media screen and (max-width: 667px)
  .user-wrapper
    height: 100%

li
  list-style: none

.user
  cursor: pointer
  padding: 5px 0
  position: relative
  &:hover
    background: #eeeeee
  &:last-child
    margin-bottom: 0
  .name
    font-weight: 600

.media-left
  img
    border-radius: 50%
    width: 64px
    margin: 0 12px

.pending
  position: absolute
  left: 13px
  top: 9px
  background: #b600ff
  margin: 0
  border-radius: 50%
  width: 18px
  height: 18px
  line-height: 18px
  padding-left: 5px
  color: #ffffff
  font-size: 12px

.message-wrapper
  border: 1px solid #eeeeee
  overflow-y: auto
  height: 850px
  background: #99FF21
  box-shadow: inset 13px 24px 35px #46750F

@media screen and (max-width: 667px)
  .message-wrapper
    height: 100%
    //display: none
  .sent
    float: right
  .received
    float: left
    margin-left: 0
.received, .sent
  width: 45%
  padding: 3px 10px
  border-radius: 10px
  margin: 2px 0

.received
  background: #ffffff


.sent
  background: #B4FFBC

.message-text
  color: black
  font-weight: bold

.date
  font-size: 11px
  color: #777777

.active
  background: #5ED9FF
  &:hover
    background: #5ED9FF


.messanger-btn
  width: 100%
  padding: 12px
  border: 1px solid gainsboro
  outline: none
  position: fixed
  bottom: 0

.display-none
  display: none

.display-block
  display: block

#arrow
  font-size: 20px
  &:hover
    cursor: pointer

.night
  background: #193285
  color: whitesmoke
